


 .nav-bar {
   top: -1px;
    display: flex;
    justify-content:end;
    align-items:end;
    width: 100%;
    height: 10dvh;
    background-color: powderblue;
    position: fixed;
    z-index: 997;

 }
 a{
   margin: 4em;
  
 }

